<h1>you have not joined the following teams</h1>
<table style="width:80%; margin-left: 20px;">
 <tr>
  <th>Title</th>
  <th>Action</th>
</tr>
<% @teams.each do |team| %>
  <tr>
    <td><%= team.title %></td>
    <% if team.memberships.size == 5 %>
      <td><button disabled>Team full</button></td>
    <% else %>
      <td>
        <% if is_team_admin?(team, current_user) %>
          <button>You are team admin</button>
        <% else %>
          <%= form_for Membership.new, :url => {:action => "join_team", params: {team_id: team.id}} do |f| %>
            <%= f.button 'join team' %>
          <% end %>
        <% end %>
    <% end %>
  </tr>
<% end %>
</table>
