<h1>you have joined request </h1>
<table style="width:80%; margin-left: 20px;">
 <tr>
  <th>Team</th>
  <th>Role</th>
  <th>Action</th>
 </tr>
 <% @memberships.each do |membership| %>
 <tr>
  <td><%= membership.team.title%></td>
  <td><p>Member </p></td>
  <td>
    <% if  %>
      <%= link_to 'Approve',  joined_user_teams_path(current_user) %>
    <% else %>
      <%= link_to 'Not Approved', teams_path %>
  	<%# if is_team_admin?(membership.team, current_user) == true %>
     <%#= link_to 'Delete', user_team_path(current_user, membership), method: :delete, data: {confirm: "Are you sure?"} %>
  	<%# else %>
  </td>
  	<% end %>
  </td>
 </tr>
 <% end %>
</table>