<h1>Team Data</h1>
<table style="width:80%">
  <tr>
    <th>ID</th>
    <th>Title</th>
    <th>Member</th> 
    <th>Role</th>
  </tr>
  <tr>
    <td><%= @team.id %></td>
    <td><%= @team.title %></td>
    <td><%= @team.member %></td>
    <td><%= @team.role %></td>
  </tr>
</table>
