<h1>Your Task</h1>
<table style="width:80%; margin-left: 20px;">
  <tr>
    <th>Name</th>
    <th>Duration</th>
    <th>Status</th>
    <th>Action</th>
  </tr>
  <br>
  <tr>
    <td><%= @task.name %></td>
    <td><%= @task.duration %></td>
    <td><%= @task.status %></td>
    <td><%#= link_to "Edit", edit_user_team_project_task_path(current_user , task.project.team_id, task.project_id, :task_id) %></td>
  </tr>
</table>